.menu-pannel {
    background-color: #000000;
    color: #ffffff;
    width: 100%;
}

.menu-pannel-item {
    display: inline-block;
    cursor: pointer;
    padding: 5px;
}

.active {
    display: block;
}

.hidden {
    display: none;
}