/* Onglet */

.menu-pannel {
    background-color: #000000;
    color: #ffffff;
    width: 100%;
}

.menu-pannel-item {
    display: inline-block;
    cursor: pointer;
    padding: 5px;
}

.active {
    display: block;
}

.hidden {
    display: none;
}


/* Formulaire */

form label,
form input {
    display: block;
}


/* CARD */

.team-card {
    border: #000000 1px solid;
    border-radius: 5px;
}


/* Erreur */

.text-error {
    color: red;
}

.box-error {
    border: 1px solid red;
}